:root{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
          background-color: #000;
}
.App {
  margin:0px;
  padding: 0px;
}
.navBar {
  z-index: 2;
  display:flex;
  background: #1d1d1f;
  flex-direction: row;
  justify-content: space-evenly;
}
.navLink {
  margin:0px;
  padding:20px 5px 20px 5px;
  text-decoration: none;
  color: #ccc;
  background-color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noSelect:hover {
  cursor:pointer;
}